/* Put your custom styles here */
.copyright-bar.bg-black {
    background: #red;
}

.bg-black {
    background-color: #1e2088 !important;
}

.main-nav {
    background-color: #d1d3d4 !important;
}

img {
    margin: auto;
}

.pull-right.small a {
    color: white;
}

.feature-box {
}

.feature-box {
    padding: 0px !important;
}

.btn {
    padding: 6px 42px !important;
    float: right;
}